<form method="post" action="/post">
	<p>Username: <input type="text" name="username" /></p>
	<p>Title: <input type="text" name="title" /></p>

	<textarea name="messagebody"></textarea><br/>
	<input type="submit" />
</form>