<p><a href="/profile/Bob">Bob</a></p>
<p><a href="/profile/Susan">Susan</a></p>
<p><a href="/profile/Maria">Maria</a></p>
<p><a href="/profile/John">John</a></p>

<!--You can put any name here and it will work. Try it out with your own name.-->
