<!doctype html>
<html>
    <head>
		<title>Express with Handlebars</title> 
		<style>
			header{
				background-color: #7E8AA2;
				padding: 1em;
				/*
				   Your homework should not contain this style
				 */
			}
		</style>
	</head>
	<body>
		<header><h1>My Site</h1></header>
		
		{{{body}}}

	</body>
</html>