<!doctype html>
<html>
    <head>
		<title>Blog</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header><h1><a href="/">My Blog</a></h1></header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>