.line{
	margin: 2em 1em;
	border:1px solid #fff;
}
label{
	font-weight: bold;
	font-family: sans-serif;
	display: block;
	float: left;
	width: 10em;
	clear:left;	
}
input.number{
	width: 3em;
	border: 1px solid #ccc;
	padding: 0.5em;
	
}
.blank{
	display: block;
	float: left;
	clear: right;
}
.button{
	float:left;
	clear:both;
	margin: 1em;
}

h1.tip{
	border:1px solid #ccc;
	display:inline;
	padding: 1em;
	line-height: 3em;
	box-shadow: -0.1em 0.1em #cecece;
}
