<h1>Tip Calculator</h1>

<form method="post" action="/calc">
	<div class="line">
		<label>Total Bill</label> 
		<div class="blank">$<input type="text" name="total" class="number"/></div>
	</div>
	<div class="line">
		<label>Tip Percentage</label> 
		<div class="blank">&nbsp;<input type="text" name="tip" class="number" />%</div>
	</div>

	<input type="submit" class="button"/>
</form>