<h2>Add a new person</h2>
<form method="post" action="/new">
	<label>Name</label><br/>
	<input type="text" name="name" /><br/>

	<label>City</label><br/>
	<input type="text" name="city" /><br/>

	<label>Mood</label><br/>
	<input type="text" name="mood" /><br/>

	<input type="submit"/>
</form>