<!doctype html>
<html>
    <head>
		<title>Express with Handlebars</title> 
		<link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header><h1>My Site</h1></header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/collection">My Collection</a></li>
				<li><a href="/contacts">My Contacts</a></li>
			</ul>
		</nav>
		{{{body}}}

	</body>
</html>